
<h2>Here is the List of Naitonal Parks:</h2>

<% for (var i in parks) { %>
  <div class="description">
    <h2><a href="/parks/<%= parks[i].id %>"> <%= parks[i].fullName %> </a></h2> </a>
    <h4> <span class="minititle">Park Description: </span> <%= parks[i].description %> </h4>
    <h4> <span class="minititle">State(s): </span> <%= parks[i].states %> </h4>
    <form method="POST" action="/parks">
      <input hidden type="text" name="name" value="<%= parks[i].fullName %>">
      <input hidden type="text" name="state" value="<%= parks[i].states %>">
      <input hidden type="text" name="coordinates" value="<%= parks[i].latLong %>">
      <input hidden type="text" name="code" value="<%= parks[i].parkCode %>">
      
      <label for="trip">Trip Destination</label>
      <input type="text" class="form-control" id="trip" name="trip" required>
        
      <button class="btn btn-primary" type="submit">Add to My Trips List</button>
    </form>
    <a href="/trips">MY TRIPS</a>
    
  </div>
  <% }; %>
 
    
      
      
      
    
 