<div class="nav">
  <a href="/"> HOME </a>
  <a href="/profile"> PROFILE </a>
  <a href="/parks"> PARKS </a>
  <a href="/trips"> MY TRIPS </a> 
</div>

<h1 class="titles">Park Info:</h1>

<p class="goback"><a href="javascript:history.go(-1)" title="Return to previous page">&laquo;GO BACK</a></p>

<div class="description">
  <div class="details">
    <h2 class="name"><%= park.name %></h2> 
    <h3 class="name">Location: <%= park.states %></h3> 
    <h3>Type of Attraction: <%= park.designation %></h3>
    <p><%= park.description %></p>
    <h3>Weather Information:</h3>
    <p><%= park.weatherInfo %></p>
  </div>
  <div class="details">
    <h3>Campgrounds Overview:</h3>
      <% if (campgrounds.data.length) { %>
        <h3>Campground Area Weather Overview:</h3>
        <p><%= campgrounds.data[0].weatheroverview %></p>
        <% campgrounds.data.forEach((d, i) => { %>
          <div class="moredetails">
            <h3>Campground Name:</h3>
            <p> <%= d.name %></p>
            <h3>Campground Descripton:</h3>
            <p> <%= d.description %></p>
            <% if (d.accessibility.additionalinfo.length) { %>
              <h3>Additional Information:</h3>
              <p> <%= d.accessibility.additionalinfo %></p>
            <% } else { %>
              <p></p>
            <% } %>
          </div>
          <% }); %>
      <% } else if (!campgrounds.data.length) { %>
        <p>Sorry, there are no campgrounds in this park...</p>
      <% } %>
        
  </div>
  <div class="details">
    <h3>Events:</h3>
        <% if (events.data.length) { %>
          <% events.data.forEach((d, i) => { %>
            <div class="moredetails">
              <h3>Event:</h3>
              <p><%= d.title %></p>
              <% if (d.images.length) { %>
                <img src="https://www.nps.gov<%= d.images[0].path %>" alt="<%= d.images[0].altText %>">
              <% } else { %>
                <p></p>
              <% } %>
              <h3>Event Descripton:</h3>
              <p><%= d.description %></p>
              <p><%= d.feeinfo %></p>
              <% if (d.times.length) { %>
                <h3>Times:</h3>
                <p><%= d.timeinfo %></p>
                <p>Starts at <%= d.times[0].timestart %></p>
                <p>Ends at <%= d.times[0].timeend %></p>
              <% } else { %>
                <p></p>
              <% } %>
          </div>
          <% }); %>
        <% } else if (!events.data.length) { %>
          <p>Sorry, there are no events at this time...</p>
        <% } %>
            
  </div>
  
</div>

<div>
    <form action="/search" method="GET">
      <input type="text" name="city" placeholder="City">
      <input type="text" name="state" placeholder="State">
      <input type="submit" value="GET ME THE SUSHI!">
    </form>
</div>

<p class="goback"><a href="javascript:history.go(-1)" title="Return to previous page">&laquo;GO BACK</a></p>

