<a class="nav" href="/"> MAIN PAGE </a> 
<a class= "nav" href="/profile"> PROFILE PAGE </a>
<a class= "nav" href="/parks"> PARKS PAGE </a> 
<a class= "nav" href="/trips"> MY TRIPS PAGE </a> 

<h1>Park Info:</h1>

<div class="description">
<h2 class="name">  <%= park.name %> </h2> 
<h3 class="name">Location: <%= park.states %> </h3> 
<h3>Type of Attraction: <%= park.designation %></h3>
  <p><%= park.description %></p>
<h3>Weather Information:</h3>
  <p><%= park.weatherInfo %></p>
</div>

<div class="description">
  <h2>Campgrounds Overview: </h2>
    <% if (campgrounds.data !== null) { %>
      <% for (var i in campgrounds) { %>
        <div>
          <h3>Campground Name:</h3>
          <p> <%= campgrounds[i].name %> </p>
          <h3>Campground Descripton:</h3>
          <p> <%= campgrounds[i].description %> </p>
          <h3>Campground Area Weather Overview:</h3>
          <p> <%= campgrounds[i].weatheroverview %> </p>
        <% }; %>
    <% } else if (campgrounds.data === null) { %>
      <p>Sorry, there are no campgrounds in this park</p>
    <% } %>
    </div>
</div>

<div class="description">
    <h2>Events: </h2>
      <% if (events.data !== null) { %>
        <% for (var i in events) { %>
          <div>
            <h3>Event Category:</h3>
            <p> <%= events[i].category %> </p>
            <h3>Event Descripton:</h3>
            <p> <%= events[i].description %> </p>
          <% }; %>
      <% } else if (events.data === null) { %>
        <p>Sorry, there are no campgrounds in this park</p>
      <% } %>
      </div>
  </div>
<p><a href="javascript:history.go(-1)" title="Return to previous page">&laquo;Go back</a></p>
