<div class="nav">
  <a href="/">HOME</a> 
  <a href="/profile"> PROFILE </a>
  <a href="/parks"> PARKS </a> 
  <a href="/trips"> MY TRIPS </a> 
</div>

<div class="titles">
  <h1>Trip Destination: <%= trip.destination %></h1>
  <h2>Attractions to Visit: </h2>
</div>

<div class="description">
<% trip.parks.forEach(function(park) { %>
<div class="options">
  <a href="/parks/<%= park.id %>"><%= park.name %></a> 
  <form method="POST" action="/parks/<%= park.id %>?_method=DELETE">
    <input class="delete" type="submit" value="DELETE PARK FROM DESTINATION">
  </form>
</div>
<% }); %>

<div class="options">
  <a href="/parks?states=<%= trip.destination %>">BROWSE MORE PARKS IN <%= trip.destination %></a>
</div>

<div class="options">
  <form method="POST" action="/trips/<%= trip.id %>?_method=DELETE">
    <input class="delete" type="submit" value="DELETE TRIP">
  </form>
</div>
</div>

<div>
  <p class="goback"><a href="javascript:history.go(-1)" title="Return to previous page">&laquo;GO BACK</a></p>
</div>